div#container {
   margin: 0 auto 0 auto;
   position: relative;
   text-align: left;
   width: 994px;
}
body {
   background-color: #23272A;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a {
   color: #0000FF;
   text-decoration: underline;
}
a:visited {
   color: #800080;
}
a:active {
   color: #FF0000;
}
a:hover {
   color: #0000FF;
   text-decoration: underline;
}
input:focus,
textarea:focus,
select:focus {
   outline: none;
}
#wb_gridMain {
   background-clip: padding-box;
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin: 0;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#gridMain {
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   max-width: 994px;
   padding: 100px 100px 100px 100px;
}
#gridMain > .row {
   margin-left: -100px;
   margin-right: -100px;
}
#gridMain > .row > .col-1 {
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 100px;
   padding-right: 100px;
   position: relative;
}
#gridMain > .row > .col-1 {
   float: left;
}
#gridMain > .row > .col-1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: left;
   width: 100%;
}
#gridMain:before,
#gridMain:after,
#gridMain .row:before,
#gridMain .row:after {
   content: " ";
   display: table;
}
#gridMain:after,
#gridMain .row:after {
   clear: both;
}
@media (max-width: 480px) {
#gridMain > .row > .col-1 {
   float: none;
   width: 100%  !important;
}
}
#wb_gridTopMisc {
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin: 0;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#gridTopMisc {
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 0px 0px 25px 0px;
}
#gridTopMisc > .row {
   margin-left: 0;
   margin-right: 0;
}
#gridTopMisc > .row > .col-1 {
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 0px;
   padding-right: 0px;
   position: relative;
}
#gridTopMisc > .row > .col-1 {
   float: left;
}
#gridTopMisc > .row > .col-1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: left;
   width: 100%;
}
#gridTopMisc:before,
#gridTopMisc:after,
#gridTopMisc .row:before,
#gridTopMisc .row:after {
   content: " ";
   display: table;
}
#gridTopMisc:after,
#gridTopMisc .row:after {
   clear: both;
}
@media (max-width: 480px) {
#gridTopMisc > .row > .col-1 {
   float: none;
   width: 100%  !important;
}
}
#wb_gridFormContainer {
   background-color: #2C2F33;
   background-image: none;
   border-bottom-color: #2C2F33;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-left-color: #2C2F33;
   border-left-style: solid;
   border-left-width: 1px;
   border-right-color: #2C2F33;
   border-right-style: solid;
   border-right-width: 1px;
   border-top-color: #2C2F33;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-top-style: solid;
   border-top-width: 1px;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin: 0;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#gridFormContainer {
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 10px 15px 20px 15px;
}
#gridFormContainer > .row {
   margin-left: -15px;
   margin-right: -15px;
}
#gridFormContainer > .row > .col-1 {
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#gridFormContainer > .row > .col-1 {
   float: left;
}
#gridFormContainer > .row > .col-1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: left;
   width: 100%;
}
#gridFormContainer:before,
#gridFormContainer:after,
#gridFormContainer .row:before,
#gridFormContainer .row:after {
   content: " ";
   display: table;
}
#gridFormContainer:after,
#gridFormContainer .row:after {
   clear: both;
}
@media (max-width: 480px) {
#gridFormContainer > .row > .col-1 {
   float: none;
   width: 100%  !important;
}
}
#wb_mainTitle {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_mainTitle div {
   text-align: left;
}
#wb_mainTitle {
   box-sizing: border-box;
   display: block;
   margin: 0;
   width: 100%;
}
#wb_formLabelDisplayname {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: left;
}
#wb_formLabelDisplayname div {
   text-align: left;
}
#wb_formLabelDisplayname {
   box-sizing: border-box;
   display: block;
   margin: 0;
   width: 100%;
}
#formFieldDisplayname {
   background-color: #23272A;
   background-image: none;
   border: 1px solid #1B1E21;
   border-radius: 5px;
   box-sizing: border-box;
   color: #FFFFFF;
   font-family: Ubuntu;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   line-height: 25px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#formFieldDisplayname:focus {
   border-color: #7289DA;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(114,137,218,0.60);
   outline: 0;
}
#wb_formLabelMessage {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: left;
}
#wb_formLabelMessage div {
   text-align: left;
}
#wb_formLabelMessage {
   box-sizing: border-box;
   display: block;
   margin: 0;
   width: 100%;
}
#formFieldMessage {
   background-color: #23272A;
   background-image: none;
   border: 1px solid #1B1E21;
   border-radius: 5px;
   box-sizing: border-box;
   color: #FFFFFF;
   font-family: Ubuntu;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   line-height: 25px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#formFieldMessage:focus {
   border-color: #7289DA;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(114,137,218,0.60);
   outline: 0;
}
#wb_formLabelTier {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: left;
}
#wb_formLabelTier div {
   text-align: left;
}
#wb_formLabelTier {
   box-sizing: border-box;
   display: block;
   margin: 0;
   width: 100%;
}
#formFieldTier {
   background-color: #23272A;
   background-image: none;
   border: 1px solid #1B1E21;
   border-radius: 5px;
   box-sizing: border-box;
   color: #FFFFFF;
   font-family: Ubuntu;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   margin: 0;
   padding: 4px 4px 4px 4px;
}
#formFieldTier:focus {
   border-color: #7289DA;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(114,137,218,0.60);
   outline: 0;
}
#formButtonSubmit {
   -webkit-appearance: none;
   background-color: #7289DA;
   background-image: none;
   border: 1px solid #7289DA;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: Ubuntu;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   margin: 0;
   padding: 1px 6px 1px 6px;
   text-align: center;
}
#formSeparator {
   border-bottom-width: 20px;
   border-color: #23272A;
   border-color: rgba(35,39,42,0.00);
   border-left: 0px;
   border-right: 0px;
   border-style: solid;
   border-top: 0px;
   height: 0  !important;
   line-height: 0px  !important;
   margin: 0;
   padding: 0;
}
#formButtonClear {
   -webkit-appearance: none;
   background-color: #2C2F33;
   background-image: none;
   border: 1px solid #FF4D51;
   border-radius: 5px;
   color: #FF4D51;
   font-family: Ubuntu;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   margin: 0;
   padding: 1px 6px 1px 6px;
   text-align: center;
}
#formButtonSeparator {
   border-bottom-width: 37px;
   border-color: #A0A0A0;
   border-color: rgba(160,160,160,0.00);
   border-left: 0px;
   border-right: 0px;
   border-style: solid;
   border-top: 0px;
   height: 0  !important;
   line-height: 0px  !important;
   margin: 0;
   padding: 0;
}
#wb_formLabelMeta {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: left;
}
#wb_formLabelMeta div {
   text-align: left;
}
#wb_formLabelMeta {
   box-sizing: border-box;
   display: block;
   margin: 0;
   width: 100%;
}
#formFieldMeta {
   background-color: #23272A;
   background-image: none;
   border: 1px solid #1B1E21;
   border-radius: 5px;
   box-sizing: border-box;
   color: #FFFFFF;
   font-family: Ubuntu;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   line-height: 25px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#formFieldMeta:focus {
   border-color: #7289DA;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(114,137,218,0.60);
   outline: 0;
}
#wb_formDescMeta {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0px 0px 10px 0px;
   text-align: left;
}
#wb_formDescMeta div {
   text-align: left;
}
#wb_formDescMeta {
   box-sizing: border-box;
   display: block;
   margin: 0;
   width: 100%;
}
#wb_formLabelObjective {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: left;
}
#wb_formLabelObjective div {
   text-align: left;
}
#wb_formLabelObjective {
   box-sizing: border-box;
   display: block;
   margin: 0;
   width: 100%;
}
#formFieldObjective {
   background-color: #23272A;
   background-image: none;
   border: 1px solid #1B1E21;
   border-radius: 5px;
   box-sizing: border-box;
   color: #FFFFFF;
   font-family: Ubuntu;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   line-height: 25px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#formFieldObjective:focus {
   border-color: #7289DA;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(114,137,218,0.60);
   outline: 0;
}
#wb_formLabelRewards {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: left;
}
#wb_formLabelRewards div {
   text-align: left;
}
#wb_formLabelRewards {
   box-sizing: border-box;
   display: block;
   margin: 0;
   width: 100%;
}
#formFieldReward {
   background-color: #23272A;
   background-image: none;
   border: 1px solid #1B1E21;
   border-radius: 5px;
   box-sizing: border-box;
   color: #FFFFFF;
   font-family: Ubuntu;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   margin: 0;
   padding: 4px 4px 4px 4px;
}
#formFieldReward:focus {
   border-color: #7289DA;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(114,137,218,0.60);
   outline: 0;
}
#formFieldRewardData {
   background-color: #23272A;
   background-image: none;
   border: 1px solid #1B1E21;
   border-radius: 5px;
   box-sizing: border-box;
   color: #FFFFFF;
   font-family: Ubuntu;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   line-height: 25px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#formFieldRewardData:focus {
   border-color: #7289DA;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(114,137,218,0.60);
   outline: 0;
}
#formSeparatorRewards {
   border-bottom-width: 10px;
   border-color: #23272A;
   border-color: rgba(35,39,42,0.00);
   border-left: 0px;
   border-right: 0px;
   border-style: solid;
   border-top: 0px;
   height: 0  !important;
   line-height: 0px  !important;
   margin: 0;
   padding: 0;
}
#wb_formDescOxygen {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0px 0px 10px 0px;
   text-align: left;
}
#wb_formDescOxygen div {
   text-align: left;
}
#wb_formDescOxygen {
   box-sizing: border-box;
   display: block;
   margin: 0;
   width: 100%;
}
#wb_uid1 {
   color: #99AAB5;
   font-family: "Ubuntu";
   font-size: 13px;
}
#wb_uid2 {
   color: #99AAB5;
   font-family: "Ubuntu";
   font-size: 13px;
}
#wb_uid3 {
   color: #99AAB5;
   font-family: "Ubuntu";
   font-size: 13px;
}
#wb_uid4 {
   color: #99AAB5;
   font-family: "Ubuntu";
   font-size: 13px;
}
#wb_uid5 {
   color: #7289DA;
   font-family: "Ubuntu";
   font-size: 11px;
}
#formSeparatorRewards {
   display: block;
   width: 100%;
   z-index: 15;
}
#wb_uid6 {
   color: #99AAB5;
   font-family: "Ubuntu";
   font-size: 13px;
}
#wb_uid7 {
   color: #99AAB5;
   font-family: "Ubuntu";
   font-size: 13px;
}
#formFieldReward {
   display: block;
   height: 35px;
   width: 100%;
   z-index: 14;
}
#wb_uid8 {
   color: #7289DA;
   font-family: "Ubuntu";
   font-size: 11px;
}
#formFieldTier {
   display: block;
   height: 35px;
   width: 100%;
   z-index: 6;
}
#formFieldDisplayname {
   display: block;
   height: 35px;
   width: 100%;
   z-index: 2;
}
#formButtonClear {
   display: inline-block;
   height: 40px;
   width: 123px;
   z-index: 20;
}
#formButtonSubmit {
   display: inline-block;
   height: 40px;
   width: 96px;
   z-index: 18;
}
#formButtonSeparator {
   display: inline-block;
   width: 29px;
   z-index: 19;
}
#formSeparator {
   display: block;
   width: 100%;
   z-index: 17;
}
#formFieldRewardData {
   display: block;
   height: 35px;
   width: 100%;
   z-index: 16;
}
#formFieldMeta {
   display: block;
   height: 35px;
   width: 100%;
   z-index: 9;
}
#formFieldObjective {
   display: block;
   height: 35px;
   width: 100%;
   z-index: 11;
}
#formFieldMessage {
   display: block;
   height: 35px;
   width: 100%;
   z-index: 4;
}
#wb_uid0 {
   color: #FFFFFF;
   font-family: "Ubuntu";
   font-size: 19px;
}
