div#container {
   margin: 0 auto 0 auto;
   position: relative;
   text-align: left;
   width: 994px;
}
body {
   background-color: #23272A;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a {
   color: #0000FF;
   text-decoration: underline;
}
a:visited {
   color: #800080;
}
a:active {
   color: #FF0000;
}
a:hover {
   color: #0000FF;
   text-decoration: underline;
}
input:focus,
textarea:focus,
select:focus {
   outline: none;
}
#wb_gridMain {
   background-clip: padding-box;
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin: 0;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#gridMain {
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   max-width: 994px;
   padding: 100px 100px 100px 100px;
}
#gridMain > .row {
   margin-left: -100px;
   margin-right: -100px;
}
#gridMain > .row > .col-1 {
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 100px;
   padding-right: 100px;
   position: relative;
}
#gridMain > .row > .col-1 {
   float: left;
}
#gridMain > .row > .col-1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: left;
   width: 100%;
}
#gridMain:before,
#gridMain:after,
#gridMain .row:before,
#gridMain .row:after {
   content: " ";
   display: table;
}
#gridMain:after,
#gridMain .row:after {
   clear: both;
}
@media (max-width: 480px) {
#gridMain > .row > .col-1 {
   float: none;
   width: 100%  !important;
}
}
#wb_gridTopMisc {
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin: 0;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#gridTopMisc {
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 0px 0px 25px 0px;
}
#gridTopMisc > .row {
   margin-left: 0;
   margin-right: 0;
}
#gridTopMisc > .row > .col-1 {
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 0px;
   padding-right: 0px;
   position: relative;
}
#gridTopMisc > .row > .col-1 {
   float: left;
}
#gridTopMisc > .row > .col-1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: left;
   width: 100%;
}
#gridTopMisc:before,
#gridTopMisc:after,
#gridTopMisc .row:before,
#gridTopMisc .row:after {
   content: " ";
   display: table;
}
#gridTopMisc:after,
#gridTopMisc .row:after {
   clear: both;
}
@media (max-width: 480px) {
#gridTopMisc > .row > .col-1 {
   float: none;
   width: 100%  !important;
}
}
#wb_gridFormContainer {
   background-color: #2C2F33;
   background-image: none;
   border-bottom-color: #2C2F33;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-left-color: #2C2F33;
   border-left-style: solid;
   border-left-width: 1px;
   border-right-color: #2C2F33;
   border-right-style: solid;
   border-right-width: 1px;
   border-top-color: #2C2F33;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-top-style: solid;
   border-top-width: 1px;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin: 0;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#gridFormContainer {
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 10px 15px 20px 15px;
}
#gridFormContainer > .row {
   margin-left: -15px;
   margin-right: -15px;
}
#gridFormContainer > .row > .col-1 {
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#gridFormContainer > .row > .col-1 {
   float: left;
}
#gridFormContainer > .row > .col-1 {
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: left;
   width: 100%;
}
#gridFormContainer:before,
#gridFormContainer:after,
#gridFormContainer .row:before,
#gridFormContainer .row:after {
   content: " ";
   display: table;
}
#gridFormContainer:after,
#gridFormContainer .row:after {
   clear: both;
}
@media (max-width: 480px) {
#gridFormContainer > .row > .col-1 {
   float: none;
   width: 100%  !important;
}
}
#wb_mainTitle {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0;
   text-align: left;
}
#wb_mainTitle div {
   text-align: left;
}
#wb_mainTitle {
   box-sizing: border-box;
   display: block;
   margin: 0;
   width: 100%;
}
#wb_formDescMeta {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0px 0px 30px 0px;
   text-align: left;
}
#wb_formDescMeta div {
   text-align: left;
}
#wb_formDescMeta {
   box-sizing: border-box;
   display: block;
   margin: 0;
   width: 100%;
}
#wb_formLabelCategory {
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: left;
}
#wb_formLabelCategory div {
   text-align: left;
}
#wb_formLabelCategory {
   box-sizing: border-box;
   display: block;
   margin: 0;
   width: 100%;
}
#wb_CssMenu1 {
   background-color: transparent;
   border: 0px solid #C0C0C0;
   margin: 0;
   text-align: left;
   z-index: 1111  !important;
}
#wb_CssMenu1 ul {
   display: inline-block;
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
}
#wb_CssMenu1 li {
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 120px;
}
#wb_CssMenu1 a {
   background-color: #7289DA;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 5px;
   color: #FFFFFF;
   display: block;
   float: left;
   font-family: Ubuntu;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   height: 40px;
   line-height: 40px;
   padding: 0px 5px 0px 5px;
   text-align: center;
   text-decoration: none;
   vertical-align: middle;
   width: 110px;
}
#wb_CssMenu1 li:hover a,
#wb_CssMenu1 a:hover {
   background-color: #647DD7;
   background-image: none;
   border: 0px solid #2E6DA4;
   color: #FFFFFF;
}
#wb_CssMenu1 li.firstmain {
   padding-left: 0px;
}
#wb_CssMenu1 li.lastmain {
   padding-right: 0px;
}
#wb_CssMenu1 br {
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_uid1 {
   color: #99AAB5;
   font-family: "Ubuntu";
   font-size: 13px;
}
#wb_uid2 {
   color: #7289DA;
   font-family: "Ubuntu";
   font-size: 11px;
}
#wb_CssMenu1 {
   display: inline-block;
   height: 40px;
   width: 124px;
   z-index: 3;
}
#wb_uid0 {
   color: #FFFFFF;
   font-family: "Ubuntu";
   font-size: 19px;
}
